<div class="home-center">
    <h1>About</h1>
    <p class="quote">The author of this website is indeed a great guy! You should definitely contact him!</p> 
    <p class="ass"> - Desmond Moony</p>
</div>

<div class="home-center">
    <h2>About this  project...</h2>
    <p>Free time for front-end developing.</p>
    <p>Increase outreach of personal and (hopefully in the future) professional projects.</p>
    <p>Share entertainment with the world.</p>
    <p>Enjoy life!</p>
</div>

<div class="home-center">
    <h2>About Desmond Moony...</h2>
    <p>Desmond was a bear, but once he reached the Moon, he became a Moon bear. With bear paws and astronaut powers there is nothing he can't achieve. Desmond Moony makes the story continue!</p>
    <p>A Master Degree makes his mastery recognized.</p>
    <p>He's a Cloud Solutions Architect, with his head above the cloud!</p>
    <p>Ready for any challenge!</p>
</div>

<div class="home-bottom">
    <h2>Contacts</h2>
    <p>
        Spam a bit: desmondmoony.spamabit@... <br>
        Project request: desmondmoony.projects@... <br>
        Story time: desmondmoony.stories@... <br>
    </p>
</div>