<img src="//:0" alt="The moon was here!" width="100%" id="moon">
<div class="home-center">
    <h1>Desmond Moony</h1>
    <p>Desmond was a bear, but once he reached the Moon, he became a Moon bear. Desmond Moony, the story continues!</p>    
</div>

<div class="home-left home-one">
    <h2>Projects</h1>
    <p>Check out the awesome projects that bear paws and astronaut powers can achieve.</p>
    <p>Propose your own projects with an acceptable budget! Or ask the Moony to do it for salmon! </p>
    <p class="quote">Salmon is really hard to get on the Moon.</p>
    <p class="ass"> - Desmond Moony</p>
</div>

<div class="home-right home-two">
    <h2>Stories</h2>
    <p>In stories you can dive into a fantasy world or a dark dystopia. Just choose your story and read it online, here, or in any other available means!</p>
    <p class="quote">It's honestly just a hobby for this bear.</p>
    <p class="ass"> - Desmond Moony</p>
    <p>Feel free to reach me to contribute with ideas for ongoing stories or stories you create for the world to see. Create different endings and branches of the same story.</p>
    <p>Just... enjoy!</p>
</div>

<div class="home-left home-three">
    <h2>About</h2>
    <p>Who's this mysterious bear? You'll have to dig a bit into the stories to realize it's deepest desires...</p>
    <p class="quote">My deepest desire is salmon, but you didn't hear it from me...</p>
    <p class="ass"> - Desmond Moony</p>
    <p>You'll find here a short presentation of this fictional character, with some of the its achievements. And ways to reach me if you're intrested.</p>
</div>