<div class="home-center">
    <h1>Projects</h1>    
    <p class="quote">Give a bear a fish, you'll feed him for a day. Give a bear a project, you'll feed him for the project duration if the compensation is fair!</p> 
    <p class="ass"> - Desmond Moony</p>
</div>

<div class="home-left home-one">
    <h2>THIS!</h1>
    <p class="quote">Well... this counts as a project, right?</p>
    <p class="ass"> - Desmond Moony</p>
    <p>This website is a static webpage, meaning, it does not contain any database or dynamic information behind, it is served the same for every user.</p>
    <p>I'm glad to say it was enjoyable to make it, and customization is possible, so if you have any ideas to market your products or concepts in a static fashion, you're welcome to contact me in the available means: <a onclick="navigate('/templates/aboutme')">About That Contact Page</a>.</p>
</div>

<div class="home-right home-two">
    <h2>Stickian</h2>
    <p>An MMO strategy online game, where you take form of a stickman hero and bring glory to your empire!</p>
    <p>Satirical interpretation of online war strategy games with a bit of randomness. You'll need brains, luck, and a good sense of humor to enjoy playing this game.</p>
    <p>An ever ongoing project.</p>
    <p class="quote">Stick'em up!</p>
    <p class="ass"> - Desmond Moony</p>
    <p>And yes, in case you are curious about it, the link for the concept will soon appear here: (STILL WAITING FOR LINK...)</p>
</div>

<div class="home-left home-three">
    <h2>Waiting for you to propose a project...</h2>
    <p>What are you waiting for? Let's work together in making an idea take form. We'll work in an AGILE way, with CLOUD implementations if deemed necessary to reach the world together!</p>
    <p>For real, contact me: <a onclick="navigate('/templates/aboutme')">About That Contact Page</a>.</p>
</div>