<div class="home-center">
    <h1> Stories </h1>
    <p class="quote">Once upon a time, I took a pen and started to write on the keyboard.</p> 
    <p class="ass"> - Desmond Moony</p>
    <p>Here is just a compilation of stories or small books that you can read. The authors are indicated in the beginning, all credits go to them. If you're interested to pursue a storyline and publish some books, reach the authors!</p>
    <p>Navigation to the books is done in either a static page, with plain text to adapt to everyscreen so don't expect anything fancy, or links to other websites OUTSIDE of this one, and therefore not my responsability if you read through those.</p>
    <p>Most importantly, enjoy!</p>
</div>

<div class="home-left home-one">
    <h2>Human's land</h1>
    <p class="quote">Such an outsanding author!</p>
    <p class="ass"> - Desmond Moony</p>
    <p>It's a human's land, but a wide world. Dive into the story lost in a fictional world, adventure through it, get to know it, and forget about it the next day.</p>
    <p>Static page: <a href="/books/humans-land.html">humans-land.html</a></p>
    <p>Author(s): Desmond Moony</p>
</div>