/**
General
*/
body {
    background-color: #000;
    color: rgb(5, 165, 19);
}

/**
Navigation bar CSS
*/
/* Generic navbar settings */
.nav {
    float: left;
    text-align: center;
    background-color: #000000;
    padding: 0;
    border: 0;
    margin: 0;
}

/* Specific to elements */
.bar {
    width: 100%; /* percentage of the body width */
    padding: 10px 0px 10px 0px;
}

.bttn {
    background-color: #000;
    display: inline-block;
    padding: 1% 2% 1% 2%; /* percentage of the .bar width */
}

    .bttn:hover {
        background-color: #aaa;
        color: #000;
        
    }
    .bttn:active {
        background-color: #fff;
        color: #000;
    }

#thm {
    float: right;
    padding: 1% 2% 1% 2%; /* percentage of the .bar width */
}
/**
Content CSS
*/


a {
    color:#AAA;
}
    a:hover{
        color: #f00;
    }

/* Home specific coloring  */